rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /professores/{codigo} {
      allow read, write: if request.auth != null && request.auth.uid == codigo;

      match /{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == codigo;
      }
    }
  }
}